*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg,#0f172a,#1e293b,#334155);
    overflow:hidden;
}

.calculator{
    width: 400px;
    background: rgba(255,255,255,.10);
    border:1px solid rgba(255,255,255,.25);
    backdrop-filter: blur(15px);
    padding: 18px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    animation: fadeIn 0.8s ease;
}

#display{
    width:100%;
    height: 115px;;
    border:none;
    outline:none;
    border-radius:15px;
    padding:15px;
    margin-bottom:18px;

    background:rgba(255,255,255,.95);

    color:#222;

    font-size:30px;
    font-weight:600;

    text-align:right;

    box-shadow:inset 0 2px 8px rgba(0,0,0,.15),0 0 12px rgba(255,255,255,.20);
}

#display::placeholder{
    color: #ddd;
    color:#999;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button{
    height: 58px;
    border: none;
    border-radius: 18px;
    font-size: 22px;
    cursor: pointer;
    transition:.25s ease;
    background: rgba(255,255,255,0.15);
    color: white;
    font-weight: 600;
}

button:hover{
    transform:translateY(-4px) scale(1.03);
    box-shadow:0 10px 20px rgba(0,0,0,.30);
}
.operator{
    background: #ff9800;
}

.operator:hover{
    background:linear-gradient(135deg,#ffb300,#ff6b00);
}

.equal{
    background: linear-gradient(135deg,#22c55e,#16a34a);
    color:white;
    font-weight:600;
}

.equal:hover{
    background: linear-gradient(135deg,#16a34a,#15803d);
}

.zero{
    grid-column: span 2;
}

@media(max-width:400px){

    .calculator{
        width: 95%;
        padding: 15px;
         box-shadow:0 20px 40px rgba(0,0,0,.35);
    }

    button{
        height: 55px;
        font-size: 18px;
    }

  #display{
    background: rgba(255,255,255,0.95);
    color: #222;
    font-weight: bold;
}

}

h2{
    text-align:center;
    color:white;
    margin-bottom:10px;
    letter-spacing:1px;
    font-size: 34px;
}

button:active{
    transform:scale(.95);
}

.subtitle{
    text-align: center;
    color: rgba(255,255,255,0.75);
    font-size: 14px;
    font-weight: 400;
    margin-top: -8px;
    margin-bottom: 18px;
    letter-spacing: 0.5px;
}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(30px);

}

to{

opacity:1;

transform:translateY(0);

}

}